table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table a {
    display: block;
    text-decoration: none;
}

.nav-link {
    margin: 10px;
}
.nav-link-g {
    left: 3px;
}

body {
    background-color: powderblue;
}

h1 {
    color: blue;
}
